/*
*{
    text-align: center;
}
*/
body{
    width: 100;
    font-size: 20px;    
    color: brown;
    background-color: aquamarine;
}
h1, h2 {
    font-style: italic;
    color: rgb(0, 78, 78);
    font-weight: normal;
}
/*
.textblock {
    
    width: 700px;
    padding: 10px;
}
*/
h1 {
    font-weight: 400;
    text-align: center;
}

h2 {
    font-style: italic;
    font-weight: 300;
}

#teaser {
    font-style: italic;
    font-size: 14px;
}

a {
    font-size: 12px;
    text-decoration: none;
}


#commentmarked {
    font-size: 12;
    font-style: italic;
    background-color: yellow;
    color: black;
}

.bold {
    font-size: 13;
    font-style: bold;
    font-weight: 600;
}
.markeditalic {
    font-size: 13;
    font-style: italic;
    background-color: yellow;
    color: black;
}
.italic{
    font-size: 13px;
    font-style: italic;

}

ul{
    font-size: 12px;
    background-color:rgb(243, 210, 210);
}

.centered{
    text-align: center;
}