header {
    background-color: rgb(218, 218, 218);
}
h1,h2 {
    text-align: center;
}
.bg-beige{
    background-color: beige;
}
/*

img {
    width: 100%;
    height: auto;
}
    */

.justify{
    text-align: justify;
}    
